{% extends 'layout/layout.html' %}
{%load static%}
{%block title%}배달해줄께{%endblock%}
{%block content%}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<div class="container">
    <div class="banner">
        <div style="width: 60%;height: 230px;margin: 0 auto; background-color: aquamarine;">
            이미지
        </div>
    </div>
    <div class="Icon-wrap">
        <div class="Icon">
            <a href="">
                <span>찜,탕</span>
            </a>
        </div>
        <div class="Icon">
            <a href="">
                <span>찜,탕</span>
            </a>
        </div>
        <div class="Icon">
            <a href="">
                <span>찜,탕</span>
            </a>
        </div>
        <div class="Icon">
            <a href="">
                <span>찜,탕</span>
            </a>
        </div>
        <div class="Icon">
            <a href="">
                <span>찜,탕</span>
            </a>
        </div>
        <div class="Icon">
            <a href="">
                <span>찜,탕</span>
            </a>
        </div>
        <div class="Icon">
            <a href="">
                <span>찜,탕</span>
            </a>
        </div>
        <div class="Icon">
            <a href="">
                <span>찜,탕</span>
            </a>
        </div>
        <div class="Icon">
            <a href="">
                <span>찜,탕</span>
            </a>
        </div>
        <div class="Icon">
            <a href="">
                <span>찜,탕</span>
            </a>
        </div>
    </div>
    <div class="board-wrap">
        <div class="admin">
            <div><h3>공지사항</h3></div>
            <div class="admin-board">
                <a href="">
                    <span>[공지]가입하세요.</span>
                </a>
                <span>2022/11/12</span>
            </div>
            <div class="admin-board">
                <a href="">
                    <span>[공지]가입하세요.</span>
                </a>
                <span>2022/11/12</span>
            </div>
            <div class="admin-board">
                <a href="">
                    <span>[공지]가입하세요.</span>
                </a>
                <span>2022/11/12</span>
            </div>
        </div>
        <div class="user">
            <div><h3>유저게시판</h3></div>
            <div class="user-board">
                <a href="">
                    <span>안녕하세요</span>
                </a>
                <span>2022/11/12</span>
            </div>
            <div class="user-board">
                <a href="">
                    <span>안녕하세요</span>
                </a>
                <span>2022/11/12</span>
            </div>
            <div class="user-board">
                <a href="">
                    <span>안녕하세요</span>
                </a>
                <span>2022/11/12</span>
            </div>
        </div>
    </div>
</div>
<script>

</script>
{%endblock%}